.todo {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border: 1px solid rgba(170, 126, 56, 1);
	border-radius: 5px;
	padding: 0.5em;
	margin-top: 1em;
	background-color: #faf9f5;
}

.todo .todo__shadow {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.85);
	z-index: 10;
}

.todo .todo__shadow .todo__shadow-text {
	font-size: 3rem;
	font-weight: bold;
}

.todo .todo__shadow .todo__shadow-text i {
	color: green;
	animation: doneTask 1s;
}

.todo .todo__first-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 19%;
}

.todo .todo__first-box i {
	font-size: 3.5rem;
	margin-bottom: 0.3em;
	text-shadow: 0 0 2px black;
}

.todo .todo__first-box .date {
	font-weight: bold;
}

.todo .todo__second-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 60%;
}

.todo .todo__second-box .title {
	margin-bottom: 0.3em;
}

.todo .todo__second-box .message {
	text-align: center;
}

.todo .todo__third-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 12%;
}

.todo .todo__third-box .done,
.todo .todo__third-box .remove {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	font-size: 2.3rem;
	margin-right: 0.5em;
	padding: 0.2em;
	border: none;
	background: transparent;
	transition: transform 0.3s;
	cursor: pointer;
}

.todo .todo__third-box .done {
	color: green;
}
.todo .todo__third-box .remove {
	position: relative;
	color: red;
	z-index: 15;
}

.todo .todo__third-box .done:hover,
.todo .todo__third-box .remove:hover {
	transform: scale(1.3);
}

@keyframes doneTask {
	from {
		transform: scale(10);
	}
	to {
		transform: scale(1);
	}
}
