* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Rajdhani', sans-serif;
	font-size: 62.5%;
}

body {
	background-color: #efead4;
	font-size: 1.6rem;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
}
